@model ChandlerSpeaks.Models.FilterModel


@{
    ViewData["Title"] = "Home Page";
    
    /*
    if (ViewData["Grants"] != null)
    {
        <h1>Now traversing the list from the cshtml file.</h1>
        foreach (var item in (List<Grant>)ViewData["Grants"])
        {
            //Console.WriteLine(item.Title);
            <p>@item.PubDate</p>
        }
        <h1>We have now finished the traversal.</h1>
    }
    */
    
}

<body>
    <!--We've created a single row that contains two columns.-->
    <section class="row">
        <!--In the left column contains filter options for the user.-->
        <form class="col left-style" method="POST">
            <!--This first row of filter sections.-->
            <section class="row">
                <!--The Company Age section.-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style">Company Age</legend>
                    <input type="checkbox" asp-for="CompanyAge[0]" value="true">
                    <label asp-for="CompanyAge[0]">Less than 1</label><br>
                    <input type="checkbox" asp-for="CompanyAge[1]" value="true">
                    <label asp-for="CompanyAge[1]">1 to 3</label><br>
                    <input type="checkbox" asp-for="CompanyAge[2]" value="true">
                    <label asp-for="CompanyAge[2]">4 to 6</label><br>
                    <input type="checkbox" asp-for="CompanyAge[3]" value="true">
                    <label asp-for="CompanyAge[3]">7 to 9</label><br>
                    <input type="checkbox" asp-for="CompanyAge[4]" value="true">
                    <label asp-for="CompanyAge[4]">10 to 12</label><br>
                    <input type="checkbox" asp-for="CompanyAge[5]" value="true">
                    <label asp-for="CompanyAge[5]">More than 12</label><br>
                </fieldset>
                <!--The Grant Type section.-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style">Grant Type</legend>
                    <input type="checkbox" asp-for="GrantType[0]" value="true">
                    <label asp-for="GrantType[0]">All</label><br>
                    <input type="checkbox" asp-for="GrantType[1]" value="true">
                    <label asp-for="GrantType[1]">Arts</label><br>
                    <input type="checkbox" asp-for="GrantType[2]" value="true">
                    <label asp-for="GrantType[2]">Business</label><br>
                    <input type="checkbox" asp-for="GrantType[3]" value="true">
                    <label asp-for="GrantType[3]">Community</label><br>
                    <input type="checkbox" asp-for="GrantType[4]" value="true" onclick="DisplayEducationFilters()">
                    <label asp-for="GrantType[4]">Education</label><br>
                    <!--The Education subfilters.-->
                    <input type="checkbox" class="subfilter-style" style="display: none;" asp-for="GrantType[9]" value="true">
                    <label asp-for="GrantType[9]" style="display: none;" id="GrantType_9_Label">Sciences</label><br id="GrantType_9_BR" style="display: none;">
                    <input type="checkbox" class="subfilter-style" style="display: none;" asp-for="GrantType[10]" value="true">
                    <label asp-for="GrantType[10]" style="display: none;" id="GrantType_10_Label">Special Ed</label><br id="GrantType_10_BR" style="display: none;">
                    <input type="checkbox" class="subfilter-style" style="display: none;" asp-for="GrantType[11]" value="true">
                    <label asp-for="GrantType[11]" style="display: none;" id="GrantType_11_Label">Research</label><br id="GrantType_11_BR" style="display: none;">
                    <input type="checkbox" class="subfilter-style" style="display: none;" asp-for="GrantType[12]" value="true">
                    <label asp-for="GrantType[12]" style="display: none;" id="GrantType_12_Label">Training</label><br id="GrantType_12_BR" style="display: none;">
                    <input type="checkbox" class="subfilter-style" style="display: none;" asp-for="GrantType[13]" value="true">
                    <label asp-for="GrantType[13]" style="display: none;" id="GrantType_13_Label">STEM</label><br id="GrantType_13_BR" style="display: none;">
                    <!---->
                    <input type="checkbox" asp-for="GrantType[5]" value="true">
                    <label asp-for="GrantType[5]">Environment</label><br>
					<input type="checkbox" asp-for="GrantType[6]" value="true">
                    <label asp-for="GrantType[6]">Health</label><br>
					<input type="checkbox" asp-for="GrantType[7]" value="true">
                    <label asp-for="GrantType[7]">Law</label><br>
					<input type="checkbox" asp-for="GrantType[8]" value="true">
                    <label asp-for="GrantType[8]">Technology</label><br>
                </fieldset>
            </section>
            <!--The second row of filter sections.-->
            <section class="row">
                <!--The Location section-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style">Location</legend>
                    <input type="checkbox" asp-for="Location[0]" value="true">
                    <label asp-for="Location[0]">All</label><br>
                    <input type="checkbox" asp-for="Location[1]" value="true">
                    <label asp-for="Location[1]">Carrollton</label><br>
                    <input type="checkbox" asp-for="Location[2]" value="true">
                    <label asp-for="Location[2]">Coppell</label><br>
                    <input type="checkbox" asp-for="Location[3]" value="true">
                    <label asp-for="Location[3]">Dallas</label><br>
                    <input type="checkbox" asp-for="Location[4]" value="true">
                    <label asp-for="Location[4]">Fort Worth</label><br>
                    <input type="checkbox" asp-for="Location[5]" value="true">
                    <label asp-for="Location[5]">Flower Mound</label><br>
                    <input type="checkbox" asp-for="Location[6]" value="true">
                    <label asp-for="Location[6]">Grapevine</label><br>
                    <input type="checkbox" asp-for="Location[7]" value="true">
                    <label asp-for="Location[7]">Irving</label><br>
                    <input type="checkbox" asp-for="Location[8]" value="true">
                    <label asp-for="Location[8]">Lewisville</label><br>
                    <input type="checkbox" asp-for="Location[9]" value="true">
                    <label asp-for="Location[9]">Plano</label><br>
                    <input type="checkbox" asp-for="Location[10]" value="true">
                    <label asp-for="Location[10]">Richardson</label><br>
                    <input type="checkbox" asp-for="Location[11]" value="true">
                    <label asp-for="Location[11]">Frisco</label><br>
                    <input type="checkbox" asp-for="Location[12]" value="true">
                    <label asp-for="Location[12]">Arlington</label><br>
                    <input type="checkbox" asp-for="Location[13]" value="true">
                    <label asp-for="Location[13]">Southlake</label><br>                    
                </fieldset>
                <!--The Race section.-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style">Race</legend>
                    <input type="checkbox" asp-for="Race[0]" value="true">
                    <label asp-for="Race[0]">African American</label><br>
                    <input type="checkbox" asp-for="Race[1]" value="true">
                    <label asp-for="Race[1]">Asian</label><br>
                    <input type="checkbox" asp-for="Race[2]" value="true">
                    <label asp-for="Race[2]">Caucasian</label><br>
                    <input type="checkbox" asp-for="Race[3]" value="true">
                    <label asp-for="Race[3]">Hispanic</label><br>
                    <input type="checkbox" asp-for="Race[4]" value="true">
                    <label asp-for="Race[4]">Middle Eastern</label><br>
                    <input type="checkbox" asp-for="Race[5]" value="true">
                    <label asp-for="Race[5]">American Indian</label><br>                    
                </fieldset>
            </section>
            <!--The third row of filter sections.-->
            <section class="row">
                <!--The Religious Affiliation section.-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style">Religious Affiliation</legend>
                    <input type="radio" asp-for="ReligiousAffiliation" value="yes">
                    <label asp-for="ReligiousAffiliation">Yes</label><br>
                    <input type="radio" asp-for="ReligiousAffiliation" value="no">
                    <label asp-for="ReligiousAffiliation">No</label><br>                    
                </fieldset>
                <!--The Religious Identification section.-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style">Religious Identification</legend>
                    <input type="checkbox" asp-for="ReligiousIdentification[0]" value="true">
                    <label asp-for="ReligiousIdentification[0]">Christian</label><br>
                    <input type="checkbox" asp-for="ReligiousIdentification[1]" value="true">
                    <label asp-for="ReligiousIdentification[1]">Catholic</label><br>
                    <input type="checkbox" asp-for="ReligiousIdentification[2]" value="true">
                    <label asp-for="ReligiousIdentification[2]">Hindu</label><br>
                    <input type="checkbox" asp-for="ReligiousIdentification[3]" value="true">
                    <label asp-for="ReligiousIdentification[3]">Muslim</label><br>
                    <input type="checkbox" asp-for="ReligiousIdentification[4]" value="true">
                    <label asp-for="ReligiousIdentification[4]">Buddhist</label><br>
                    <input type="checkbox" asp-for="ReligiousIdentification[5]" value="true">
                    <label asp-for="ReligiousIdentification[5]">Sikh</label><br>
                    <input type="checkbox" asp-for="ReligiousIdentification[6]" value="true">
                    <label asp-for="ReligiousIdentification[6]">Jewish</label><br>
                    <input type="checkbox" asp-for="ReligiousIdentification[7]" value="true">
                    <label asp-for="ReligiousIdentification[7]">Other</label><br>
                </fieldset>
            </section>
            <!--The fourth row of filter sections.-->
            <section class="row">
                <!--The Grant Due Date section.-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style"> Grant Due Date</legend>
                    <input type="checkbox" asp-for="GrantDueDate[0]" value="true">
                    <label asp-for="GrantDueDate[0]">All</label><br>
                    <input type="checkbox" asp-for="GrantDueDate[1]" value="true">
                    <label asp-for="GrantDueDate[1]">January</label><br>
                    <input type="checkbox" asp-for="GrantDueDate[2]" value="true">
                    <label asp-for="GrantDueDate[2]">February</label><br>
                    <input type="checkbox" asp-for="GrantDueDate[3]" value="true">
                    <label asp-for="GrantDueDate[3]">March</label><br>
                    <input type="checkbox" asp-for="GrantDueDate[4]" value="true">
                    <label asp-for="GrantDueDate[4]">April</label><br>
                    <input type="checkbox" asp-for="GrantDueDate[5]" value="true">
                    <label asp-for="GrantDueDate[5]">May</label><br>
					<input type="checkbox" asp-for="GrantDueDate[6]" value="true">
                    <label asp-for="GrantDueDate[6]">June</label><br>
					<input type="checkbox" asp-for="GrantDueDate[7]" value="true">
                    <label asp-for="GrantDueDate[7]">July</label><br>
					<input type="checkbox" asp-for="GrantDueDate[8]" value="true">
                    <label asp-for="GrantDueDate[8]">August</label><br>
					<input type="checkbox" asp-for="GrantDueDate[9]" value="true">
                    <label asp-for="GrantDueDate[9]">September</label><br>
					<input type="checkbox" asp-for="GrantDueDate[10]" value="true">
                    <label asp-for="GrantDueDate[10]">October</label><br>
					<input type="checkbox" asp-for="GrantDueDate[11]" value="true">
                    <label asp-for="GrantDueDate[11]">November</label><br>
					<input type="checkbox" asp-for="GrantDueDate[12]" value="true">
                    <label asp-for="GrantDueDate[12]">December</label><br>                    
                </fieldset>
                <!--The Grant Amount section.-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style">Grant Amount</legend>
                    <input type="checkbox" asp-for="GrantAmount[0]" value="true">
                    <label asp-for="GrantAmount[0]">All</label><br>
                    <input type="checkbox" asp-for="GrantAmount[1]" value="true">
                    <label asp-for="GrantAmount[1]">Less Than 1000</label><br>
                    <input type="checkbox" asp-for="GrantAmount[2]" value="true">
                    <label asp-for="GrantAmount[2]">1000-10000</label><br>
                    <input type="checkbox" asp-for="GrantAmount[3]" value="true">
                    <label asp-for="GrantAmount[3]">10000-25000</label><br>
                    <input type="checkbox" asp-for="GrantAmount[4]" value="true">
                    <label asp-for="GrantAmount[4]">25000-50000</label><br>
                    <input type="checkbox" asp-for="GrantAmount[5]" value="true">
                    <label asp-for="GrantAmount[5]">Greater Than 50000</label><br>                    
                </fieldset>
            </section>
            <!--The fifth row of filter sections.-->
            <section class="row">
                <!--The 501c3 section.-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style">501c3 Designation?</legend>
                    <input type="radio" asp-for="Type501c3" value="yes">
                    <label asp-for="Type501c3">Yes</label><br>
                    <input type="radio" asp-for="Type501c3" value="no">
                    <label asp-for="Type501c3">No</label><br>
                </fieldset>
                <!--The Financial Information Required section.-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style">Financial Information Required?</legend>
                    <input type="radio" asp-for="FinancialInfoRequired" value="yes">
                    <label asp-for="FinancialInfoRequired">Yes</label><br>
                    <input type="radio" asp-for="FinancialInfoRequired" value="no">
                    <label asp-for="FinancialInfoRequired">No</label><br>
                </fieldset>
            </section>
            <!--The sixth row of filter sections.-->
            <section class="row">
                <!--The Revenue Range Required section.-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style">Revenue Range Required?</legend>
                    <input type="radio" asp-for="RevenueRangeRequired" value="yes">
                    <label asp-for="RevenueRangeRequired">Yes</label><br>
                    <input type="radio" asp-for="RevenueRangeRequired" value="no">
                    <label asp-for="RevenueRangeRequired">No</label><br>
                </fieldset>
                <!--The Funding Due Date section.-->
                <fieldset class="col fieldset-style">
                    <legend class="legend-style"> Funding Due Date</legend>
                    <input type="checkbox" asp-for="FundingDueDate[0]" value="true">
                    <label asp-for="FundingDueDate[0]">All</label><br>
                    <input type="checkbox" asp-for="FundingDueDate[1]" value="true">
                    <label asp-for="FundingDueDate[1]">January</label><br>
                    <input type="checkbox" asp-for="FundingDueDate[2]" value="true">
                    <label asp-for="FundingDueDate[2]">February</label><br>
                    <input type="checkbox" asp-for="FundingDueDate[3]" value="true">
                    <label asp-for="FundingDueDate[3]">March</label><br>
                    <input type="checkbox" asp-for="FundingDueDate[4]" value="true">
                    <label asp-for="FundingDueDate[4]">April</label><br>
                    <input type="checkbox" asp-for="FundingDueDate[5]" value="true">
                    <label asp-for="FundingDueDate[5]">May</label><br>
					<input type="checkbox" asp-for="FundingDueDate[6]" value="true">
                    <label asp-for="FundingDueDate[6]">June</label><br>
					<input type="checkbox" asp-for="FundingDueDate[7]" value="true">
                    <label asp-for="FundingDueDate[7]">July</label><br>
					<input type="checkbox" asp-for="FundingDueDate[8]" value="true">
                    <label asp-for="FundingDueDate[8]">August</label><br>
					<input type="checkbox" asp-for="FundingDueDate[9]" value="true">
                    <label asp-for="FundingDueDate[9]">September</label><br>
					<input type="checkbox" asp-for="FundingDueDate[10]" value="true">
                    <label asp-for="FundingDueDate[10]">October</label><br>
					<input type="checkbox" asp-for="FundingDueDate[11]" value="true">
                    <label asp-for="FundingDueDate[11]">November</label><br>
					<input type="checkbox" asp-for="FundingDueDate[12]" value="true">
                    <label asp-for="FundingDueDate[12]">December</label><br>                                        
                </fieldset>
            </section>

            <!--The final row. It only contains the select button.-->
            <section class="row">
			    <input class="selectbutton-style" type="submit">
		    </section>
        </form>

        <!--In the right column contains the list grants brought back from the webcrawler.-->
        <section class="col right-style">
            @if (ViewData["Grants"] != null)
            {
                // TODO Make the list of grants pretty!
                @foreach (var item in (List<Grant>)ViewData["Grants"])
                {
                    <h5>@item.Title</h5>
                }
            }
        </section>
        
    </section>
</body>



<!--
    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
-->
