/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*To change the margins on the body of the webpage, go into _Layout.cshtml and change the class on the tag
on line 32. See the documentation at https://getbootstrap.com/docs/4.4/layout/overview/ for more details on
the container classes.*/

/* Custom styles implemented here.
------------------------------------------------------*/
.grant-background {
  padding: 1em;
}

.grant-description-style {
  margin-left: 1em;
}

.grant-price-style {
  margin-left: 1em;
  text-align: left;
  float: left;
  font-weight: bold;
}

.grant-duedate-style {
  margin-left: 1em;
  text-align: right;
  font-weight: bold;
}

.fieldset-style {
  height: 110px;
  border: solid;
  background: #FDF0F2;
  border-width: 0.1em;
  padding: 0em 0.3em 0em 0.3em;
  margin: 0.5em 2.5em 0.5em 2.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  border-color: #91720a36;
}

.legend-style {
  float: left;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: black;
}

.subfilter-style {
  margin-left: 1em;
}

.left-style {
  border: 5px solid #FDF0F2;
  background-color: #FFF8F1;
}

.right-style {
  background-color: #D7EFF2;
  border: 5px solid #B0E0E6;
}

.left-style, .right-style {
  border-radius: .5em;
  float: right;
  padding: 1em 1em 0em 1em;
  margin: 10px;
}

.selectbutton-style {
  padding: 7px;
  text-align: center;
  margin: auto;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  overflow: scroll;
}

::-webkit-scrollbar-track {
  background: #FFF8F1;
  border: 1px solid black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FDF0F2;
  border: 1.25px solid black;
  border-radius: 7px;
}

/*-----------------------------------------------------*/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
